* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(48, 47, 47);
    padding-bottom: 50px; 
    min-height: 100vh;
    position: relative; 
}

header {
    background-color: black;
}

header h1 {
    color: red;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li a {
    font-size: medium;
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 25px;
    width: 166px;
}

nav ul li a:hover {
    background-color: gray;
    
}
main{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 79vmin;
}
.formulario{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
}
.lbl{
    color: white;
    font-size: 25px;
}
.formulario input{
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin: 20px;
    overflow-wrap: break-word; /* para navegadores modernos */
    word-wrap: break-word; 
    white-space: pre-wrap;
}

#avaliacao{
    height: 200px;
    word-wrap: break-word;
    text-align: start;
}
.footer_page{
    width: 100%;
    background-color: black;
    bottom: 0;
    position: absolute;
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.footer_page p {
    align-self: center;
    color: #fff;
}
