*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(48, 47, 47);
    min-height: 100vh;
    
}

header{
    background-color: black;

    }

    header h1 {
    color: red;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 5px;    
    }

nav{
    background-color: black;
    }
    
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
    }
    
nav ul li a{
    font-size: medium;
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 25px;
    width: 150px
    }
    
nav ul li a:hover{
    background-color: gray;

}
.section_page{
    
    margin-top: 20px;
}

.section_page h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
    
}

.section_page p{
    margin-left: 10px;    
    font-size: medium;
    text-align: center;
}

.section_destaques{
    margin: 10px;
}

.section_destaques p {
    text-align: center;
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
}

.filmes{
    border: black 1px solid;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
.ft_filmes{
    height: 400px;
    width: 270px;
    margin: 10px;
}
.series{
    border: black 1px solid;
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}
.ft_series{
    height: 400px;
    width: 270px;
    margin: 10px;
}

.vantagens{
    height: 280px;
    border: black 6px solid;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.vantagens h2{

    margin-top: 20px;
    text-align: right ;
    justify-content: center;
}

.vantagens p {
    margin-top: 20px;
    text-align: right ;
    justify-content: center;    
}

.planos {
    display: flex;
    flex-direction: row;
    
}

.plano_silver {
    width: 50%;
    border: black 5px solid;
    text-align: center;

} 



.plano_gold {
    width: 50%;
    border: black 5px solid;
    align-items: center;
    text-align: center;
}

.footer_page{
    width: 100%;
    background-color: black;
    bottom: 0;
    min-height: 50px;
    
    
}

.footer_page p {
    text-align: center;
    color: #fff;
    
    
}