*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(48, 47, 47);
    min-height: 100vh;
    
}

header{
    background-color: black;

    }

    header h1 {
    color: red;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 5px;    
    }

nav{
    background-color: black;
    }
    
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
    }
    
nav ul li a{
    font-size: medium;
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 25px;
    width: 150px
    }
    
nav ul li a:hover{
    background-color: gray;

}
.section_page{
    
    margin-top: 20px;
}

.section_page h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
    
}

.section_page p{
    margin-left: 10px;    
    font-size: medium;
    text-align: center;
}

.section_destaques{
    margin: 10px;
}

.section_destaques p {
    text-align: center;
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
}

.filmes{
    border: black 1px solid;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
.ft_filmes{
    height: 400px;
    width: 270px;
    margin: 10px;
}
.series{
    border: black 1px solid;
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}
.ft_series{
    height: 400px;
    width: 270px;
    margin: 10px;
}

.vantagens{
    height: 308px;
    border: black 6px solid;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.vantagens h2{

    margin-top: 20px;
    text-align: right ;
    justify-content: center;
}

.vantagens p {
    margin-top: 20px;
    text-align: right ;
    justify-content: center;    
}

.planos {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.plano_silver {
    width: 18rem;
    border: gray 5px solid;
    text-align: center;
    margin-right: 30px;
} 

.plano_silver h3{
    color: grey;
    margin-top: 10px;
}
.plano_silver p{
    color: grey;
    margin-top: 10px;
}

#button_silver {
    padding: 8px;
    margin-top: 15px;
    background-color: gray;
    font-size: large;
    font-weight: bolder;
}

.plano_gold {
    width: 18rem;
    border: goldenrod 5px solid;
    align-items: center;
    text-align: center;
    margin-left: 30px;
}

.plano_gold h3 {
    color: goldenrod;
    margin-top: 10px;
}

.plano_gold p {
    color: goldenrod;
    margin-top: 10px;
}

#button_gold {
    padding: 8px;
    margin-top: 15px;
    background-color: goldenrod;
    font-size: large;
    font-weight: bolder;
}

.videos {
    height: 330px;
    border: black 6px solid;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.videos h4 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: x-large;
}

.trailers {
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}

.trailers iframe{
    margin-right: 40px;
    margin-left: 40px;
}

.footer_page{
    width: 100%;
    background-color: black;
    bottom: 0;
    min-height: 50px;
    
    
}

.footer_page p {
    text-align: center;
    color: #fff;
    
    
}