*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(48, 47, 47);
    
}

header{
    background-color: black;

    }

    header h1 {
    color: red;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 5px;    
    }

nav{
    background-color: black;
    }
    
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
    }
    
nav ul li a{
    font-size: medium;
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 25px;
    width: 150px
    }
    
nav ul li a:hover{
    background-color: gray;

    }